doctype html
html
  head
    title ACPE Scholarship Application Website
  body
    h1 ACPE Scholarship Application Website
    h2 The Paper
    p This paper was written as part of a 2015 summer internship, and is available and evident from the following sources: #[a(href="http://ieeexplore.ieee.org/document/7487343/") IEEE Xplore], or #[a(href="https://mws.is/2016ICRApaper.pdf") directly as a PDF] from this site. The recognition as a finalist for the Best Robotic Manipulation Paper Award is available #[a(href="https://www.icra2016.org/conference/awards/") here].
    h2 Robotics
    p My interactions with robotics include the creation of the #[a(href="http://team955.org") team website], as well as being the #[a(href="http://team955.org/pages/about.php#structure") Business Captain in the 2015-2016 season and the Team Captain in the 2016-2017 season].