+navlink('About Me','about.html')
    +navlink('Work Highlights','highlights.html')
    +navlink('Projects','projects.html')
      +navlink('Web Design','projects/web.html').code
      +navlink('Robotics Lab 2015','projects/internship15.html').code
      +navlink('Robotics Lab 2016','projects/internship16.html').code
      +navlink('Glasswork','projects/glass.html').art
      +navlink('Graphic Design','projects/design.html').art
      +navlink('Letterpress','projects/letterpress.html').art
      +navlink('Jewelry','projects/jewelry.html').art
      +navlink('Origami','projects/origami.html').art
    +navlink('Resume','projects/resume.html')
    +navlink('Social Media','projects/social.html')
      +navlink('Github',github)
      +navlink('Twitter',twitter)
      +navlink('Flickr',flickr)
      +navlink('Behance',behance)
      +navlink('Email','mailto:'+email)