html, body{
	font-family: Helvetica, sans-serif;
	background-color: #eee;
	color: #111;
	margin: 0;
	padding: 0;
	height: 100%;
}

#mapid {
	width: 100%;
	height: 100%;
	z-index: 0;
}

#overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
}

#overlay.off {
	pointer-events: none;
	background-color: rgba(255, 255, 255, 0);
}

#overlay.off #header, #overlay.off #description {
	display: none;
}

/* Play/Pause button */
#toggle {
	pointer-events: auto;
	font-size: 40px;
	cursor: pointer;
	text-decoration: none;
	color: blue;
}

 /*Make the pause button go to the bottom left */
#overlay.off #toggle {
	position: absolute;
	bottom: 10px;
	left: 10px;
}